# Belinda's Nest.JS .env file
MONGODB_URI= #Enter mongoDB connection string: mongodb+srv://<username>:<password>@hostname.mongodb.net/db
NEXTAUTH_URL= http://localhost:3000 # Enter route/configuration setting
NEXTAUTH_SECRET= secret # Authentication secret
JWT_SECRET= secret # JSON Web Token secret
JWT_EXPIRES= "1d" # JWT Expiration 
PRODUCT_KEY= secret # Product/license key
PORT=3000 # Sets server's port number

# AWS IAM Keys and SES Credentials
AWS_ACCESS_KEY_ID=         # Your AWS IAM Access Key ID
AWS_SECRET_ACCESS_KEY=     # Your AWS IAM Secret Access Key
AWS_REGION=                # AWS Region where SES is enabled (e.g., us-west-2)
SENDER_EMAIL=              # SES verified sender email address (e.g., verified@youremail.com)
