#Dummy .env file
MONGODB_URI= #Enter mongoDB connection string: mongodb+srv://<username>:<password>@hostname.mongodb.net/db
NEXTAUTH_URL= #Enter route/configuration setting
NEXTAUTH_SECRET= #Authentication secret
PORT=3000 #Sets server's port number
JWT_SECRET= #JSON Web Token secret
JWT_EXPIRES= #JWT Expiration 
PRODUCT_KEY= #product/license key